.chat {
    padding: var(--gap-third) var(--gap);
    background-color: var(--article-bg-color);
    border: 1px solid var(--block-border-color);
    border-radius: var(--gap);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.chat__header {
    display: flex;
    gap: var(--gap);
    align-items: center;
    justify-content: space-between;
}

.chat__history {
    height: 500px;
    overflow-y: auto;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.chat__footer {
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.chat__form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--gap);
}
.chat__form .switch {
    flex-shrink: 0;
}

.chat__input {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    width: 100%;
}

.chat__input input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ced4da;
}



.message {
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 10px;
    max-width: 80%;
    width: fit-content;
    word-wrap: break-word;
}

.message--user {
    background-color: #f3f1ee;
    margin-left: auto;
    text-align: right;
}

.message--ai {
    background-color: #f3f1ee;
    margin-right: auto;
    text-align: left;
}

.message__typing-indicator {
    padding: var(--gap-third) var(--gap-half);
    display: inline-flex;
    gap: var(--gap-third);
    align-items: center;
    border-radius: var(--gap-half);
    background-color: #e5e5e5;
}

.message__typing-indicator span {
    width: 6px;
    height: 6px;
    background-color: #888;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
}

.message__typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}
.message__typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.rating {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.rating__stars {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: row-reverse;

}
.rating__input {
    display: none;
    opacity: 0;
}
.rating__star {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23777777' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}


.rating__star:has(.rating__input:checked),
.rating__star:has(.rating__input:checked) ~ .rating__star {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating__star:hover:has(.rating__input:not(:checked)),
.rating__star:hover:has(.rating__input:not(:checked)) ~  .rating__star {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}