.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --kb-accent-color: #027c31;
    --cloud-accent-color: #1693cf;
    --local-accent-color: #6f5a4b;
    --website-accent-color: #e64709;
    --urlbatch-accent-color: #673147;
}

.page--kb {
    --banner-color: var(--kb-accent-color);
    --header-color: var(--kb-accent-color);
    --accent-color: var(--kb-accent-color);
}
.page--cloud {
    --banner-color: var(--cloud-accent-color);
    --header-color: var(--cloud-accent-color);
    --accent-color: var(--cloud-accent-color);
}

.page--local {
    
    --banner-color: var(--local-accent-color);
    --header-color: var(--local-accent-color);
    --accent-color: var(--local-accent-color);
}

.page--website {
    --banner-color: var(--website-accent-color);
    --header-color: var(--website-accent-color);
    --accent-color: var(--website-accent-color);
}

.page--urlbatch {
    --banner-color: var(--urlbatch-accent-color);
    --header-color: var(--urlbatch-accent-color);
    --accent-color: var(--urlbatch-accent-color);
}

.page__heading {
    font-weight: 600;
    font-size: var(--h3fsz);
    color: var(--header-color);
}

.page__heading--accent {
    color: var(--accent-color);
}



.page__subheading {
    margin-bottom: var(--gap-half);
    font-weight: 600;
    font-size: var(--h5fsz);

}

.page__top {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: var(--gap);
    background-color: inherit;
}

.page__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--gap);
    background-color: var(--block-bg-color);
    border-radius: var(--gap-half);
}

.page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--gap);
    background-color: var(--article-bg-color);
    border-radius: var(--gap-half);
}

.page__grader .form__container {
    display: grid;
    align-items: center;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr auto;
}
.page__grader .grader {
    margin-bottom: 24px;
    padding-top: 20px;
}


.page__reports {
    display: flex;
    flex-direction: column;
    padding: var(--gap) 0;
    background-color: var(--article-bg-color);
    border-radius: var(--gap-half);
}

.info-page {
    position: relative;
    overflow: hidden;
}

.info-page--cloud {
    --banner-color: var(--cloud-accent-color);
    --accent-color: var(--cloud-accent-color);
}
.info-page--local {
    --banner-color: var(--local-accent-color);
    --accent-color: var(--local-accent-color);
}

.info-page--website {
    --banner-color: var(--website-accent-color);
    --accent-color: var(--website-accent-color);
}
.info-page--urlbatch {
    --banner-color: var(--urlbatch-accent-color);
    --accent-color: var(--urlbatch-accent-color);
}

.info-page:has(.info-page__banner) {
    padding-top: calc(1.1 * var(--h1fsz) + var(--gap-half));
    border: 2px solid var(--banner-color);
}

.info-page__banner {
    position: absolute;
    top: calc(1.5 * var(--h1fsz) * -0.15);
    right: calc(1.5 * var(--h1fsz) * -0.12);
    width: 120%;
    font-size: calc(1.5 * var(--h1fsz));
    font-family: sans-serif;
    font-weight: 800;
    line-height: 0.9;
    text-align: end;
    text-transform: uppercase;
    color: var(--banner-color);
    background: linear-gradient(to right, var(--banner-color) 0%, rgba(22, 147, 207, 0) 55%, rgba(22, 147, 207, 0) 100%);

}
.info-page:has(.info-page__banner--medium) {
    padding-top: 0;
    border: none;
}

.info-page__banner--medium {
    position: relative;
    top: unset;
    right: unset;
    margin-bottom: var(--gap-half);
    width: 100%;
    font-size: var(--h2fsz);
    font-weight: 800;
    line-height: 1.5;
    border-bottom: 2px solid var(--banner-color);
    background: none;
}


.info-page__header {
    margin-bottom: var(--gap-half);
}

.info-page__heading {
    font-size: var(--h6fsz);
    font-weight: 600;
    word-break: break-word;
    overflow-wrap: break-word;
}

.info-page__body {
    margin-bottom: var(--gap-half);
}

.info-page__footer {}


.reports {}

.reports__header {
    padding: 0 var(--gap);
}
.reports__heading {
    font-size: var(--h6fsz);
    font-weight: 600;
    word-break: break-word;
    overflow-wrap: break-word;
}

.reports__body {}


