.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --engine-accent-color: #6e60ce;
    --kb-accent-color: #be5000;
    --cloud-accent-color: #6d8dad;
    --local-accent-color: #8c735b;
    --website-accent-color: #5e5774;
    --urlbatch-accent-color: #c17a4e;
    --content-accent-color: #0c3d48;
}

.page--engine {
    --banner-color: var(--engine-accent-color);
    --header-color: var(--engine-accent-color);
    --accent-color: var(--engine-accent-color);
}

.page--kb {
    --banner-color: var(--kb-accent-color);
    --header-color: var(--kb-accent-color);
    --accent-color: var(--kb-accent-color);
}

.page--cloud {
    --banner-color: var(--cloud-accent-color);
    --header-color: var(--cloud-accent-color);
    --accent-color: var(--cloud-accent-color);
}

.page--local {

    --banner-color: var(--local-accent-color);
    --header-color: var(--local-accent-color);
    --accent-color: var(--local-accent-color);
}

.page--website {
    --banner-color: var(--website-accent-color);
    --header-color: var(--website-accent-color);
    --accent-color: var(--website-accent-color);
}

.page--urlbatch {
    --banner-color: var(--urlbatch-accent-color);
    --header-color: var(--urlbatch-accent-color);
    --accent-color: var(--urlbatch-accent-color);
}

.page--content {
    --banner-color: var(--content-accent-color);
    --header-color: var(--content-accent-color);
    --accent-color: var(--content-accent-color);
}

.page__heading {
    font-weight: 600;
    font-size: var(--h3fsz);
    color: var(--header-color);
}

.page__heading--accent {
    color: var(--accent-color);
}



.page__subheading {
    margin-bottom: var(--gap-half);
    font-weight: 600;
    font-size: var(--h5fsz);

}

.page__top {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: var(--gap);
    background-color: inherit;
}
.page__top--system-chat {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.page__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--gap);
    background-color: var(--bg-color);
    border-radius: var(--gap-half);
}

.page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    border-radius: var(--gap-half);
}

.page__warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(-1 * var(--gap-half));
    margin-bottom: var(--gap-half);
    padding: var(--gap-half);
    background-color: var(--warning-bg-color);
}

.page__grader .form__container {
    display: grid;
    align-items: center;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr auto;
}

.page__grader .grader {
    margin-bottom: 24px;
    padding-top: 20px;
}


.page__reports {
    display: flex;
    flex-direction: column;
    padding: var(--gap) 0;
    /* background-color: var(--article-bg-color); */
    border-radius: var(--gap-half);
    border: 1px solid var(--block-border-color);
}

.info-page {
    position: relative;
    overflow: hidden;
}
.info-page--border {
    border: 1px solid var(--block-border-color) !important;
}

.info-page--kb {
    --banner-color: var(--kb-accent-color);
    --header-color: var(--kb-accent-color);
    --accent-color: var(--kb-accent-color);
}
.info-page--cloud {
    --banner-color: var(--cloud-accent-color);
    --header-color: var(--cloud-accent-color);
    --accent-color: var(--cloud-accent-color);
}

.info-page--local {
    --banner-color: var(--local-accent-color);
    --header-color: var(--local-accent-color);
    --accent-color: var(--local-accent-color);
}

.info-page--website {
    --banner-color: var(--website-accent-color);
    --header-color: var(--website-accent-color);
    --accent-color: var(--website-accent-color);
}

.info-page--urlbatch {
    --banner-color: var(--urlbatch-accent-color);
    --header-color: var(--urlbatch-accent-color);
    --accent-color: var(--urlbatch-accent-color);
}

.info-page--content {
    --banner-color: var(--content-accent-color);
    --header-color: var(--content-accent-color);
    --accent-color: var(--content-accent-color);
}
.info-page--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: max(20px,  calc(3 * var(--gap)));
}

.info-page:has(.info-page__banner) {
    padding-top: calc(1.1 * var(--h1fsz) + var(--gap-half));
    border: 2px solid var(--banner-color);
}


.info-page__banner {
    position: absolute;
    top: calc(1.5 * var(--h1fsz) * -0.15);
    right: calc(1.5 * var(--h1fsz) * -0.12);
    width: 120%;
    font-size: calc(1.5 * var(--h1fsz));
    font-family: sans-serif;
    font-weight: 800;
    line-height: 0.9;
    text-align: end;
    text-transform: uppercase;
    color: var(--banner-color);
    background: linear-gradient(to right, var(--banner-color) 0%, rgba(22, 147, 207, 0) 55%, rgba(22, 147, 207, 0) 100%);

}

.info-page:has(.info-page__banner--medium) {
    padding-top: 0;
    border: none;
}

.info-page__banner--medium {
    position: relative;
    top: unset;
    right: unset;
    margin-bottom: var(--gap-half);
    width: 100%;
    font-size: var(--h2fsz);
    font-weight: 800;
    line-height: 1.5;
    border-bottom: 2px solid var(--banner-color);
    background: none;
}

.info-page__logo {
    object-fit: contain;
    width: 100%;
    max-height: 120px;
}


.info-page__header {
    margin-bottom: var(--gap-half);
}

.info-page__heading {
    font-size: var(--h6fsz);
    font-weight: 600;
    word-break: break-word;
    overflow-wrap: break-word;
}

.info-page__body {
    margin-bottom: var(--gap-half);
}
.info-page__block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-half);
    padding: var(--gap-third) var(--gap);
    border: 1px solid var(--block-border-color);
    border-radius: var(--gap);
}

.info-page__footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-half);
}
.info-page__manage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-half);
}


.reports {}

.reports__header {
    padding: 0 var(--gap);
}

.reports__heading {
    font-size: var(--h6fsz);
    font-weight: 600;
    word-break: break-word;
    overflow-wrap: break-word;
}

.reports__body {}

.reports__footer {
    padding: 0 var(--gap);
}