:root {
  --container-max-width: 1400px;
  --index: max(20px, calc(1vh + 1vw));
  --gap: var(--index);
  --gap-half: calc(var(--gap) / 2);
  --gap-third: calc(var(--gap) / 3);
  --bg-color: #f4f1ee;

  --major-fsz: 14px;
  --h1fsz: calc(var(--major-fsz) * 2.986);
  --h2fsz: calc(var(--major-fsz) * 2.486);
  --h3fsz: calc(var(--major-fsz) * 2.074);
  --h4fsz: calc(var(--major-fsz) * 1.728);
  --h5fsz: calc(var(--major-fsz) * 1.44);
  --h6fsz: calc(var(--major-fsz) * 1.2);
  --small-fsz: calc(var(--major-fsz) * 0.833);
  --mini-fsz: calc(var(--major-fsz) * 0.694);

  /* Навигация */
  /* --navbar-height: 48px;
  --navbar-bg-color: #f4f1ee;
  --navbar-text-color: #333;
  --navbar-link-color: #333;
  --navbar-link-hover-color: #1693cf;
  --navbar-link-active-color: var(--accent-color);
  --navbar-shadow-color: rgba(0, 0, 0, 0.2);
  --navbar-font-size: 14px;
  --navbar-toggle-size: 1.5rem; */

  --navbar-height: 48px;
  --navbar-bg-color: #f4f1ee;
  --navbar-text-color: #4d5969;
  --navbar-link-color: #4d5969;
  --navbar-link-hover-color: #be5000;
  --navbar-link-active-color: var(--accent-color, #a74c00);
  --navbar-shadow-color: #4d596933;
  --navbar-font-size: 14px;
  --navbar-toggle-size: 1.5rem;

  /* Кнопка выхода */
  --logout-btn-border-color: #fff;
  --logout-btn-text-color: #fff;
  --logout-btn-hover-bg: #fff;
  --logout-btn-hover-text: #1f1f1f;

  /* Блоки */
  --block-bg-color: #fbfbfb;
  --block-border-color: #4d596970;
  --block-border-shadow-color: #dcdcdc;
  --code-bg-color: #696767;

            
  --article-bg-color: #e7e2de;
  --article-border-color: #f4f1ee;


            
  /* Текст */
  --text-color: #333;
  --text-color-shadow: #727272;
  --text-color-mute: #727272;
  --text-dark: #727272;
  --text-light: #c5c4c4;
  --text-inverse-color: #eee;
  --text-on-accent-bg-color: #eee;
  --text-code-color: #eee;

  --accent-color: #2e8247;

  --header-color: #1a35b5;
  --subheader-bg-color: #f7f6f6;


  /* Цвета состояний */
  /* --success-color: #4fc473e8;
  --success-bg-color: #65dd8b;
  --alarm-color: #f88383;
  --alarm-bg-color: #f59391;
  --error-color: #f88383;
  --error-bg-color: #f88383;
  --error-text-color: #333;
  --warning-color: #f9a55d;
  --warning-bg-color: #ffa044;
  --frozen-color: #3d63b1;
  --frozen-bg-color: #ecf2ff;
  --disabled-color: #3b3c3f;
  --disabled-bg-color: #3b3c3f;
  --deleted-color: #16171d;
  --deleted-bg-color: #16171d;
  --deleted-text-color: #ececec; */

    /* 🟢 Успешное состояние */
  --success-color: #3ba66b;
  --success-bg-color: #d9f3e4;

  /* 🔴 Ошибка / Авария */
  --alarm-color: #d15757;
  --alarm-bg-color: #fbe5e5;

  --error-color: #d15757;
  --error-bg-color: #fbe5e5;
  --error-text-color: #3b1f1f;

  /* 🟠 Предупреждение */
  --warning-color: #d9903f;
  --warning-bg-color: #fff0d9;

  /* 🔵 Заморожено / На паузе */
  --frozen-color: #4f6ebd;
  --frozen-bg-color: #e4ebfa;

  /* ⚫ Отключено */
  --disabled-color: #7a7a7a;
  --disabled-bg-color: #574d4d;

  /* ⚫ Удалено */
  --deleted-color: #2f2f2f;
  --deleted-bg-color: #d9d9d9;
  --deleted-text-color: #f2f2f2;

  --offline-color: #fbd9d9;
  --valid-color: #4fc473e8;
  --active-step-color: #ff6347;


  /* Кнопки */
  --btn-text-color: #d1d1d1db;

  --btn-color: #c5c3c3;
  --btn-accent-color: var(--btn-color);
  --btn-bg-color: #fff;
  --btn-border-color: #e1e1e1;

  --btn-active-color: var(--text-on-accent-bg-color);
  --btn-active-border-color: var(--accent-color);
  --btn-active-bg-color: var(--accent-color);

  --btn-hover-text-color: #727272;
  --btn-accent-hover-text-color: #eee;
  --btn-hover-border-color: #7c7c7c;
  --btn-hover-bg-color: #dad9d9;

  --button-inverse-text-color: deeppink;
  --button-hover-inverse-text-color: deeppink;

  /* Ссылки */
  --link-color: #333;
  --link-hover-color: #075f8d;
  --link-active-color: #999;

  --title-link-hover-color: #42e375;
  --http-link-hover-color: #0a7f2f;
  --link-shadow-color: #eeeeee42;

  /* Таблицы */
  /* --elastic-table-th-row-color: #f7f7f7;
  --elastic-table-odd-row-color: #fdfdfd;
  --elastic-table-odd-border-color: #f7f7f7;
  --elastic-table-even-row-color: #f7f7f7;
  --elastic-table-even-border-color: #fdfdfd; */

  --elastic-table-th-row-color: #f0efed; 
  --elastic-table-odd-row-color: #faf9f8;
  --elastic-table-odd-border-color: #e2e0dd;
  --elastic-table-even-row-color: #f4f1ee;
  --elastic-table-even-border-color: #e7e5e2;

  /* Форма */
  --field-padding: 12px;
  --form-input-border-color: #3a3939;
  --form-input-border-hover-color: color-mix(in oklch, var(--accent-color), #222 50%);
  --input-text-accent-color: #bdbdbd;
  --input-text-color: var(--text-color);
  --carret-color: var(--text-color);
  --placeholder-color: var(--text-color);

    /* choices */
  --choice-bg-color: inherit;
  --choice-dropdown-bg-color: var(--block-bg-color);
  --choice-highlighted-color: #efeff0;
  --choice-highlighted-text-color: #262626;
  --choice-selected-color: var(--accent-color);

}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: var(--major-fsz);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/* Удалить крестик в поиске */
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Убирает стрелки для type=number в Chrome */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убирает стрелки для type=number в Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.container {
  max-width: calc(var(--container-max-width) + 180px);
  margin: 0 auto;
  padding: 50px 90px;
  background-color: inherit;
}

.container:not(:has(.breadcrumb)) {
  padding: 65px 90px 50px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


.heading {
  margin-bottom: calc(0.5 * var(--index));
  width: 100%;
  line-height: 1.2;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.subheading {
  margin-bottom: var(--gap-half);
  font-style: normal;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}


.btns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-half);

}

.btn {
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--text-color);
}

.btn--reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}


.btn--round {
  flex: 0 0 45px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: var(--btn-color);
  font-size: 32px;
  line-height: 2;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid var(--btn-border-color);
  opacity: 0.8;
  transition-property: opacity, color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.btn--round:focus,
.btn--round:hover {
  opacity: 1;
  color: var(--btn-hover-text-color);
  border-color: var(--btn-hover-border-color);
}

.btn--round:active {
  color: var(--btn-active-color);
  border-color: var(--btn-active-border-color);
  background-color: var(--btn-active-bg-color);
}

.btn--disabled {
  /* pointer-events: none; */
  cursor: default;
  opacity: 0.3 !important;
}

.btn--simple {
  padding: 9px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-third);
  min-width: 150px;
  min-height: 45px;
  color: var(--btn-color);
  line-height: 1;
  background-color: inherit;
  border-radius: var(--gap-half);
  border: 1px solid var(--btn-border-color);
  opacity: 0.8;
  transition-property: opacity, color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.btn--simple:focus,
.btn--simple:hover {
  opacity: 1;
  color: var(--btn-hover-text-color);
  border-color: var(--btn-hover-border-color);
}

.btn--simple:active {
  color: var(--btn-active-color);
  border-color: var(--btn-active-border-color);
  background-color: var(--btn-active-bg-color);
}

.btn--accent {
  border: 2px solid var(--accent-color);
  color: var(--accent-color)
}

.btn--danger {
  border: 2px solid var(--alarm-color);
  color: var(--alarm-color)
}

.btn--primary {
  opacity: 1;
  background-color: var(--accent-color);
  color: var(--text-on-accent-bg-color);
}
.btn--primary:focus,
.btn--primary:hover {
  color: var(--accent-color);
  background-color: var(--btn-hover-bg-color);
  border-color: var(--btn-hover-border-color);
}

.btn--primary:active {
  opacity: 1;
  color: var(--btn-active-color);
  border-color: var(--btn-active-border-color);
  background-color: var(--btn-active-bg-color);
}

.btn__icon {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
  pointer-events: none;
}


.link-marker {
  position: relative;
  padding-right: 35px;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  text-align: start;
  line-height: 1;
  transition: color ease-in-out 0.3s;
}

.link-marker::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 5px;
  height: 5px;
  opacity: 0.1;
  border-radius: 50%;
  background-color: var(--text-color);
  transform: translateY(-50%);
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.link-marker:focus,
.link-marker:hover {
  color: var(--accent-color)
}

.link-marker:focus .link-marker__marker,
.link-marker:hover .link-marker__marker {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}

.link-marker:focus::after,
.link-marker:hover::after {
  opacity: 0;
  transform: scale(0) translateY(-50%);
}

.link-marker * {
  pointer-events: none;
}

.link-marker__marker {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.2;
  color: inherit;
  transform: scale(0) translateY(-50%);
  transform-origin: top center;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

._mb {
  margin-bottom: var(--gap);
}

._ai-fs {
  align-items: flex-start !important;
}

._ai-fe {
  align-items: flex-end !important;
}

._ai-c {
  align-items: center !important;
}

._jc-fs {
  justify-content: flex-start !important;
}

._jc-fe {
  justify-content: flex-end !important;
}

._jc-sb {
  justify-content: space-between !important;
}

._jc-sa {
  justify-content: space-around !important;
}

._jc-c {
  justify-content: center !important;
}

._ta-e {
  text-align: end;
}

._ta-s {
  text-align: start;
}

._ta-c {
  text-align: center;
}



.text {
  font-size: var(--major-fsz);
  margin-bottom: 4px;
}

.text--fat {
  font-weight: 600;
}
.text--bold {
  font-weight: 700;
}
.text--accent {
  color: var(--accent-color);
}

.text--muted {
  color: var(--text-color-mute);
}

.text--label {
  font-weight: 400;
  color: var(--text-color-mute);
  font-size: 0.8em;
}

.text--status {
  font-weight: 500;
}

.text--info {}

.text--code {
  padding: var(--gap);
  line-height: 1;
  border-radius: var(--gap);
  background-color: var(--code-bg-color);
  color: var(--text-code-color);
  font-family: monospace;
  unicode-bidi: isolate;
  white-space: pre;
}
.text--alarm {
  color: var(--alarm-color);
  font-size: 1.1em;
}


.description {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--gap-third) var(--gap-half);
  align-items: center;
}

.description--column {
  display: flex;
  flex-direction: column;
}

.description__term {
  margin: 0;
  font-weight: 400;
  color: var(--text-color-mute);
  font-size: 0.8em;
  overflow-wrap: break-word;
}
.description--column .description__term {
  padding-left: var(--gap-half);
}

.description__defination {
  margin: 0;
  /* white-space:pre-wrap; */
  word-break: break-word;
  overflow-wrap: break-word;
}
.description__defination--clamp3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ограничение тремя строками */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description--column .description__defination {
  margin-bottom: var(--gap-third);
}

.tags {
  justify-self: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-third);
}

.tag {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 12px;
  border-radius: 12px;
  border: 1px solid transparent;
  text-transform: lowercase;
}

.tag--simple {
  background-color: var(--bg-color);
  border-color: var(--block-border-color);
}

.tag--fat {
  font-weight: 600;
  letter-spacing: 0.6px;
}

.tag--success {
  background-color: var(--success-bg-color);
}

.tag--warning {
  background-color: var(--warning-bg-color);
}

.tag--alarm {
  background-color: var(--alarm-bg-color);
}

.tag--disabled {
  background-color: var(--disabled-bg-color);
  color: var(--text-inverse-color);
}

.tag--deleted {
  color: var(--deleted-text-color);
  background-color: var(--deleted-bg-color);
}



.json {}
.json__container {
  font-family: monospace;
  padding: var(--gap);
  white-space: pre-wrap;
}
.json__key {
  font-weight: 600;
  color: var(--accent-color); /* Зеленый для ключей */
}
.json__string {
}
.json__array {
}
.json__indent {
  margin-left: var(--gap);
}