{% load static %}

<span class="info-page__banner info-page__banner--medium">сообщения</span>
<div class="info-page__header">
    <h3 class="info-page__heading _ta-e">{% if filter_heading %}{{ filter_heading }}{% endif %}</h3>
</div>
<div class="info-page__body">
    {% include "include/pagination.html" %}
    {% if chat_messages|length > 0 %}
        <table class="elastic-table elastic-table_3-auto">
            <thead class="elastic-table__thead">
                <tr class="elastic-table__tr">
                    <th class="elastic-table__th">вопрос</th>
                    <th class="elastic-table__th">ответ</th>
                    <th class="elastic-table__th">дата</th>
                </tr>
            </thead>
            <tbody class="elastic-table__tbody">
                {% for message in chat_messages %}
                    <tr class="elastic-table__tr">
                        <td class="elastic-table__td">
                            {% if message.answer.extended_log.test %}
                            <div class="tags">
                                <span class="tag tag--simple" title="Вопрос и ответ сгененрированы в рамках теста {{ message.answer.extended_log.test }}" aria-label="Вопрос и ответ сгененрированы в рамках теста {{ message.answer.extended_log.test }}" >{{ message.answer.extended_log.test }}</span>
                            </div>
                            {% endif %}
                            <a href="{% url 'chat:chat-message_detail' message.id %}" class="link-marker">
                                <span class="text text--break">{{ message.text|linebreaks }}</span>
                                <svg class="link-marker__marker">
                                    <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                                </svg>
                            </a>
                        </td>
                        <td class="elastic-table__td">
                            <div class="elastic-table__cell">
                                <div class="text text--break">{{ message.answer.text|linebreaks }}</div>
                                <div class="tags">
                                    <span class="text">Оценка {{ message.answer.score|default:"-" }}</span>
                                    {% if message.answer.extended_log.ai_answer_resume %} <span class="tag tag--simple">Оценка выставлена AI</span>{% endif %}
                                </div>
                                <span class="text text--break">Время обработки {{ message.answer.processing_time|floatformat:4|default:"-" }} с.</span>
                            </div>
                        </td>
                        <td class="elastic-table__td">
                            <div class="elastic-table__cell">
                                {% if message.web_session %}
                                    <a href="{% url 'chat:chat_report' kb.id %}?type=web_session&session_id={{ message.web_session.session_key}}" class="link-marker _mb">
                                        <span>web {{ message.web_session.session_key }}</span>
                                        <svg class="link-marker__marker">
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                                        </svg>
                                    </a>
                                {% elif message.t_session %}
                                    <a href="{% url 'chat:chat_report' kb.id %}?type=t_session&session_id={{ message.t_session.telegram_id}}" class="link-marker _mb">
                                        <span>telegram {{ message.t_session.telegram_id }}</span>
                                        <svg class="link-marker__marker">
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                                        </svg>
                                    </a>
                                {% endif %}
                                <dl class="description">
                                    <dt class="description__term">дата</dt>
                                    <dd class="description__defination">
                                        {{ message.created_at|date:"d.m.Y H:i" }}  
                                    </dd>
                                    <dt class="description__term">llm</dt>
                                    <dd class="description__defination">
                                        {{ message.answer.llm|default:"-" }}
                                    </dd>
                                    <dt class="description__term">схема</dt>
                                    <dd class="description__defination">
                                        {{ message.answer.retriever_scheme|default:"-" }}
                                    </dd>
                                </dl>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "include/pagination.html" %}
    {% else %}
        <p class="text text--muted _ta-c">Нет сообщений</p>
    {% endif %}
</div>
<div class="info-page__footer">
</div>