{% extends 'clear_base.html' %}
{% load static %}
{% load custom_filters %}


{% block extra_css %}
    <link href="{% static 'css/source.css' %}" rel="stylesheet">
    <link href="{% static 'css/storage.css' %}" rel="stylesheet">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}Сообщение{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        {% comment %} база знаний {% endcomment %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ kb.get_absolute_url }}" itemprop="item">
                <span itemprop="name">База знаний {{ kb.name }}</span>
            </a>
        <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
            <span itemprop="name">Сообщение</span>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<div class="page page--content">
    {% csrf_token %}
    <div class="page__top">
        <div class="page__info info-page info-page--content _jc-fs">
            <span class="info-page__banner info-page__banner--medium">сообщение</span>
            <div class="info-page__header">
                <h2 class="page__heading _ta-e"></h2>
                <h3 class="info-page__heading"></h3>
            </div>
            <div class="info-page__body">
                <h3 class="info-page__heading"></h3>
                <dl class="source__description--info description">
                    <dt class="description__term"></dt>
                    <dd class="description__defination"></dd>
                </dl>
            </div>
            <div class="info-page__footer">
            </div>
        </div>
    </div>
    <article class="page__content _mb">
        <div class="source _mb">
            <div class="source__header">
                <h3 class="source__heading">
                </h3>
                <div class="source__wrapper">
                    <div class="source__manage">
                        <dl class="description">
                            <dt class="description__term">отправитель</dt>
                            <dd class="description__defination tags">
                                <span class="tag tag--fat tag--success">
                                    {{ object.is_user|yesno:"Клиент,AI-ассистент" }}
                                </span>
                                {% if object.answer.extended_log.test %}<span class="tag tag--warning">{{ object.answer.extended_log.test }}</span>{% endif %}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="source__body">
                <div class="source__wrapper">
                    <div class="source__raw-content">
                        <dl class="description">
                            {% if object.answer.extended_log.test and object.answer.extended_log.source_url %}
                                <dt class="description__term">тестируемый источник</dt>
                                <dd class="description__defination">
                                    <a href="{{ object.answer.extended_log.source_url }}">{{ request.get_host }}{{ object.answer.extended_log.source_url }}</a>
                                    
                                </dd>
                            {% endif %}
                            <dt class="description__term">сообщение</dt>
                            <dd class="description__defination">
                                {{ object.text }}
                            </dd>
                            <dt class="description__term">ответ</dt>
                            <dd class="description__defination">
                                {{ object.answer.text|linebreaks|default:"-" }}
                            </dd>
                            <dt class="description__term">оценка</dt>
                            <dd class="description__defination tags">
                                {% if object.is_user %}
                                    <div class="rating" data-score="{{ object.answer.score|default_if_none:'' }}" data-message-id="{{ object.answer.id }}" data-url="{% url 'chat:message_score' object.answer.id %}">
                                        <div class="rating__stars">
                                            {% for i in "2 1 0 -1 -2"|split:" " %}
                                                {% with i_int=i|add:"0" %}
                                                    <label class="rating__star">
                                                        <input type="radio" class="rating__input" name="score-{{ object.answer.id }}" value="{{ i_int }}" {% if object.answer.score == i_int%} checked{% endif %}>
                                                    </label>
                                                {% endwith %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.answer.extended_log.ai_answer_resume %} <span class="tag tag--warning">Оценка выставлена AI</span>{% endif %}
                            </dd>
                            <dt class="description__term">время обработки</dt>
                            <dd class="description__defination">
                                {{ object.answer.extended_log.processing_time|floatformat:4|default:"-" }} с.
                            </dd>
                            {% if object.answer.extended_log.ai_answer_resume %}
                                <dt class="description__term">AI резюме по оценке ответа</dt>
                                <dd class="description__defination">
                                    {{ object.answer.extended_log.ai_answer_resume }}
                                </dd>
                            {% endif %}
                            {% if object.answer.extended_log.benchmark_answer %}
                                <dt class="description__term">Эталонный ответ</dt>
                                <dd class="description__defination">
                                    {{ object.answer.extended_log.benchmark_answer }}
                                </dd>
                            {% endif %}
                            {% if object.answer.extended_log.ai_prompt_score %}
                                <dt class="description__term">AI оценка соответстивия системному промпту</dt>
                                <dd class="description__defination">
                                    {{ object.answer.extended_log.ai_prompt_score }}
                                </dd>
                            {% endif %}
                            {% if object.answer.extended_log.ai_prompt_resume %}
                                <dt class="description__term">AI резюме по оценке соответстивия системной промпту</dt>
                                <dd class="description__defination">
                                    {{ object.answer.extended_log.ai_prompt_resume }}
                                </dd>
                            {% endif %}
                            <dt class="description__term">использованная llm</dt>
                            <dd class="description__defination">
                                {{ object.answer.extended_log.llm|default:"-" }}
                            </dd>
                            <dt class="description__term">использованная схема</dt>
                            <dd class="description__defination">
                                {{ object.answer.extended_log.retriever_scheme|default:"-" }}
                            </dd>
                            <dt class="description__term">использованный system_prompt</dt>
                            <dd class="description__defination">
                                {{ object.answer.extended_log.system_prompt|linebreaks|default:"-" }}
                            </dd>
                            <dt class="description__term">сессия</dt>
                            <dd class="description__defination">
                                {% if object.t_session %}telegram {{ object.t_session.telegram_id|default:"" }}{% endif %}
                                {% if object.web_session %}web {{ object.web_session.session_key|default:"" }}{% endif %}
                                
                                
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="source__footer"></div>
        </div>

        {% if object.answer.extended_log.source_documents %}
            <div>
                <h3 class="page__subheading">Чанки ({{ object.answer.extended_log.source_documents|length }})</h3>
                <div class="source">
                    {% for chunk in object.answer.extended_log.source_documents %}
                        <div class="source__wrapper">
                            <div class="source__header">
                            </div>
                            <div class="source__body">
                                <h5 class="source__heading">
                                    metadata
                                </h5>
                                <div class="source__manage json">
                                    <div class="json-container">
                                        {% include 'widgets/_json_recursive.html' with data=chunk.metadata level=0 %}
                                    </div>
                                </div>
                                <div class="source__wrapper">
                                    <h5 class="source__heading">
                                        контент
                                    </h5>
                                    <div class="source__manage json">
                                        {{ chunk.content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </article>
</div>
{% endblock %}


{% block script %}
    <script>
        const raiting = document.querySelector(".rating");

        raiting.addEventListener("change", function (event) {
            
            const target = event.target;
            if (!target.classList.contains("rating__input")) return;
            const star = target;
            console.log(star)
            const requestUrl = raiting.dataset.url;
            console.log(requestUrl)

            if (!requestUrl) return;

            const score = parseInt(star.value);
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(requestUrl, {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": csrfToken,
                },
                body: new URLSearchParams({ score: score })
            })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при отправке оценки.");
                if (raiting) {
                    raiting.dataset.score = score;
                }
                
            })
            .catch(err => {
                console.error("Ошибка отправки:", err);
                alert("Ошибка при отправке оценки.");
            });
        });
    </script>
    
{% endblock script%}
