{% extends 'clear_base.html' %}
{% load static %}


{% block extra_css %}
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet">

{% endblock %}


{% block title %}История чатов по базе знаний{{ kb.name }}{% endblock %}

{% block nav %}
    {% include "include/nav.html" %}
{% endblock nav %}


{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        {% comment %} база знаний {% endcomment %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ kb.get_absolute_url }}" itemprop="item">
                <span itemprop="name">База знаний {{ kb.name }}</span>
            </a>
        <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
            <span itemprop="name">Отчет по чату</span>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>
{% endblock %}


{% block content %}
<div class="page page--kb">
    <div class="page__top page__grid">
        <div class="page__info info-page info-page--logo">
            {% if  kb.logo.url %}
                <img src="{{ kb.logo.url }}" alt="Логотип базы знаний {{ kb.name }}" class="info-page__logo">
            {% endif %}
        </div>
        <div class="page__info info-page">
            <span class="info-page__banner">База знаний</span>
            <div class="info-page__header">
                <h2 class="page__heading page__heading--accent _ta-e">{{ kb.name }}</h2>
                <h3 class="info-page__heading">Детали базы знаний</h3>
            </div>
            <div class="info-page__body">
                <h3 class="info-page__heading"></h3>
                <dl class="description">
                    <dt class="description__term">владельцы</dt>
                    <dd class="description__defination tags">
                        {% for user in kb.owners.all %}
                            <span class="tag tag--simple">
                                {{ user.get_full_name|default:user.username }}
                            </span>
                        {% endfor %}
                    </dd>
                    <dt class="description__term">описание</dt>
                    <dd class="description__defination">
                        {{ kb.description|default:"—" }}
                    </dd>
                    
                </dl>
            </div>
            <div class="info-page__footer">
                <div class="btns _jc-fe">
                    {% if filter_heading %}
                        <a href="{% url 'chat:chat_report' kb.pk %}" class="btn btn--reset btn--simple btn--accent">
                            <svg class="btn__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                            </svg>
                            отчет по чатам
                        </a>
                    {% endif %}
                    <a href="{% url 'chat:chat-clusters' kb.pk %}" class="btn btn--reset btn--simple btn--accent">
                        <svg class="btn__icon">
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                        </svg>
                        кластеры чата
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page__content">
        
        <div class="page__info info-page info-page--kb _mb" id="details">
            {% include "app_chat/include/chat_messages_page.html" %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const container = document.querySelector('#details');

            // Перехват кликов по пагинации (делегирование с .closest)
            container.addEventListener('click', function (e) {
                const link = e.target.closest('.pagination__link');
                if (link && container.contains(link)) {
                    e.preventDefault();
                    const url = link.getAttribute('href');
                    fetchAndUpdate(url);
                }
            });

            function fetchAndUpdate(url) {
                fetch(url, {
                    headers: { 'X-Requested-With': 'XMLHttpRequest' }
                })
                .then(response => response.json())
                .then(data => {
                    container.innerHTML = data.html;
                    window.history.pushState({}, '', url); // обновление URL без перезагрузки
                });
            }
        });
</script>
{% endblock script %}
