{% extends 'clear_base.html' %}
{% load static %}
{% load custom_filters %}


{% block extra_css %}
    <link href="{% static 'libs/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom_choices.css' %}" rel="stylesheet">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
    <link href="{% static 'libs/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom_choices.css' %}" rel="stylesheet">
{% endblock %}


{% block nav %}
    {% include "include/nav.html" %}
{% endblock nav %}


{% block title %}Тестирование базы знаний списком вопросов{% endblock %}


{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        {% comment %} база знаний {% endcomment %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ kb.get_absolute_url }}" itemprop="item">
                <span itemprop="name">База знаний {{ kb.name }}</span>
            </a>
        <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
            <span itemprop="name">Тестирование списком вопросов</span>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>
{% endblock %}


{% block content %}
<div class="page page--kb">
    <div class="page__top page__grid">
        <div class="page__info info-page info-page--logo">
            {% if  kb.logo.url %}
                <img src="{{ kb.logo.url }}" alt="Логотип базы знаний {{ kb.name }}" class="info-page__logo">
            {% endif %}
        </div>
        <div class="page__info info-page">
            <span class="info-page__banner">База знаний</span>
            <div class="info-page__header">
                <h2 class="page__heading page__heading--accent _ta-e">{{ kb.name }}</h2>
                <h3 class="info-page__heading">Детали базы знаний</h3>
            </div>
            <div class="info-page__body">
                <h3 class="info-page__heading"></h3>
                <dl class="description">
                    <dt class="description__term">владельцы</dt>
                    <dd class="description__defination tags">
                        {% for user in kb.owners.all %}
                            <span class="tag tag--simple">
                                {{ user.get_full_name|default:user.username }}
                            </span>
                        {% endfor %}
                    </dd>
                    <dt class="description__term">описание</dt>
                    <dd class="description__defination">
                        {{ kb.description|default:"—" }}
                    </dd>
                    
                </dl>
            </div>
            <div class="info-page__footer">
                <div class="btns _jc-fe">
                    <a href="{% url 'core:knowledgebase_update' kb.id %}" class="btn btn--reset btn--round" title="Редактировать информацию о базе знаний" aria-label="Редактировать информацию о базе знаний">
                        <svg class="btn__icon">
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#edit-gear"></use>
                        </svg>
                    </a>
                    {% if kb.engine %}
                        <a href="{% url 'chat:chat' kb.pk %}" class="btn btn--reset btn--simple btn--primary">
                            <svg class="btn__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                            </svg>
                            чат
                        </a>
                        <a href="{% url 'chat:system_chat' kb.pk %}" class="btn btn--reset btn--simple btn--primary">
                            <svg class="btn__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                            </svg>
                            системный чат
                        </a>
                        <a href="{% url 'chat:kb_random_test' kb.pk %}" class="btn btn--reset btn--simple btn--primary">
                            <svg class="btn__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                            </svg>
                            random test
                        </a>
                    
                    {% endif %}
                    <a href="{% url 'chat:chat_report' kb.pk %}" class="btn btn--reset btn--simple btn--accent">
                        <svg class="btn__icon">
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#chat"></use>
                        </svg>
                        отчет по чатам
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page__content">
        <div class="page__info info-page">
            <span class="info-page__banner"></span>
            <div class="info-page__header">
                <h2 class="page__heading page__heading--accent _ta-e">Тестирование базы знаний</h2>
            </div>
            <div class="info-page__body">
                <div class="_mb">
                    <p class="text _mb">Необходимо загрузить список вопросов через поле ввода списком или через загрузку csv файла</p>
                    <p class="text _mb">Далее будет выполнен тестовый прогон RAG по списку вопросов</p>
                    
                </div>
                <form method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "widgets/_form_content-widget.html" with form=test_form %}
                    <div class="form__btn-block">
                        <a href="{{ kb.get_absolute_url }}" class="btn btn--reset btn--simple">ОТМЕНИТЬ</a>
                        <button type="submit" class="btn btn--reset btn--simple btn--primary" id="submit-btn">
                            <span>Запустить тест</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="info-page__footer">
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block script %}
    <script src="{% static 'libs/choices/choices.min.js' %}"></script>
    <script>

        // Инициализация choice.js для #id_llm
        let llmSelect = new Choices("#id_llm", {
            allowHTML: true,
            classNames: {
                containerOuter: 'choices custom-choices custom-choices_transparent',
            },
            position: 'down',
            itemSelectText: 'Выберите llm',
            searchEnabled: true,
            searchPlaceholderValue: 'поиск',
            maxItemText: 'Выбрано максимально допустимое количество',
            noResultsText: 'Ничего не найдено',
        })
        // Инициализация choice.js для #id_retriever_scheme
        let retrieverSelect = new Choices("#id_retriever_scheme", {
            allowHTML: true,
            classNames: {
                containerOuter: 'choices custom-choices custom-choices_transparent',
            },
            position: 'down',
            itemSelectText: 'Выберите retriever',
            searchEnabled: true,
            searchPlaceholderValue: 'поиск',
            maxItemText: 'Выбрано максимально допустимое количество',
            noResultsText: 'Ничего не найдено',
        })
    </script>
{% endblock script %}

