{% extends 'clear_base.html' %}
{% load static %}
{% load custom_filters %}
{% load json_extras %}


{% block extra_css %}
    <link href="{% static 'css/assistant.css' %}" rel="stylesheet">
    <link href="{% static 'css/code.css' %}" rel="stylesheet">
{% endblock %}


{% block nav %}
    {% include "include/nav.html" %}
{% endblock nav %}


{% block title %}AI ассистент: редактирование блока{% endblock %}


{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        {% comment %} база знаний {% endcomment %}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ kb.get_absolute_url }}" itemprop="item">
                <span itemprop="name">База знаний {{ kb.name }}</span>
            </a>
        <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ assistant.get_absolute_url }}" itemprop="item">
                <span itemprop="name">AI ассистент ({{ assistant.name }})</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
            <span itemprop="name">Блок ассистента ({{ object.name }})</span>
            <meta itemprop="position" content="3" />
        </li>
    </ol>
</nav>
{% endblock %}


{% block content %}
<div class="page page--assistant">
    <div class="page__top page__grid">
        <div class="page__info info-page info-page--logo">
            {% if kb.logo and kb.logo.url %}
                <img src="{{ kb.logo.url }}" alt="Логотип базы знаний {{ kb.name }}" class="info-page__logo">
            {% endif %}
        </div>
        <div class="page__info info-page">
            <span class="info-page__banner">AI assistant</span>
            <div class="info-page__header">
                <h2 class="page__heading page__heading--accent _ta-e">{{ object.name }}</h2>
                <h3 class="info-page__heading"></h3>
            </div>
            <div class="info-page__body">
                <h3 class="info-page__heading"></h3>
                <dl class="description">
                    <dt class="description__term">тип</dt>
                    <dd class="description__defination">
                        {{ object.get_block_type_display }}
                    </dd>
                </dl>
            </div>
            <div class="info-page__footer">
            </div>
        </div>
    </div>
    <div class="page__content">
        <div class="page__info info-page info-page--border _mb">
            <div class="info-page__header">
                <h3 class="info-page__heading _ta-e">Редактирование конфигурации блока</h3>
            </div>
            <div class="info-page__body">
                <form method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "widgets/_form_content-widget.html" %}
                    <div class="form__btn-block">
                        <a href="{{ assistant.get_absolute_url }}" class="btn btn--reset btn--simple">ОТМЕНИТЬ</a>
                        <button type="submit" class="btn btn--reset btn--simple btn--primary" id="submit-btn">
                            {{ object|yesno:"Сохранить,Создать" }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>


</div>
{% endblock content %}

{% block script %}

{% endblock script %}