{% extends 'clear_base.html' %}
{% load static %}


{% block extra_css %}
{% endblock extra_css %}


{% block title %}
    kb.AI Статус обработки фоновой задачи
{% endblock title %}


{% block nav %}
    {% include "include/nav.html" %}
{% endblock nav %}


{% block content %}

<div class="page page--kb">
    <div class="page__top page__grid">
        <div class="page__info info-page info-page--logo">
            {% if  kb.logo.url %}
                <img src="{{ kb.logo.url }}" alt="Логотип базы знаний {{ kb.name }}" class="info-page__logo">
            {% endif %}
        </div>
        <div class="page__info info-page">
            <span class="info-page__banner">База знаний</span>
            <div class="info-page__header">
                <h2 class="page__heading page__heading--accent _ta-e">{{ kb.name }}</h2>
            </div>
            <div class="info-page__body">
            </div>
            <div class="info-page__footer">
            </div>
        </div>
    </div>
    <div class="page__content">
        <div class="page__info info-page info-page--kb _mb" id="details">
            <span class="info-page__banner info-page__banner--medium">фоновая задача</span>
            <div class="info-page__header">
                <h3 class="info-page__heading _ta-e"></h3>
            </div>
            <div class="info-page__body">
                <h3 class="info-page__heading">{{ task_name }}</h3>
                <div class="progress">
                    <h4 class="progress__heading">Статус обработки фоновой задачи {{ task_name }}</h4>
                    <p class="progress__text">Задача выполняется в рамках обработки <a href="{{ task_object_url }}">{{ task_object_name }}</a></p>
                    <div class='progress__wrapper progress-wrapper'>
                        <div id='progress-bar' class='progress-bar' style="width: 0%;  background-image: linear-gradient(
                            -45deg,
                            #8b8c8d 25%,
                            #e7e2de 25%,
                            #e7e2de 50%,
                            #8b8c8d 50%,
                            #8b8c8d 75%,
                            #e7e2de 75%,
                            #e7e2de 100%
                        );
                        background-size: 40px 40px;
                        animation: moveStripes 2s linear infinite;">&nbsp;</div>
                    </div>
                    <div class="progress-bar-message" id="progress-bar-message">Ожидайте начало обработки...</div>
                    <div id="celery-result"></div>
                </div>
{% endblock content %}


{% block script %}
    <script src="{% static 'libs/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'libs/celery_progress/celery_progress.js' %}"></script>

    <script>
        // vanilla JS version
        function onProgressMy(progressBarElement, progressBarMessageElement, progress) {
            progressBarElement.style.backgroundColor = this.barColors.progress;
            progressBarElement.style.width = progress.percent + "%";
            var description = progress.description || "";
            if (progress.current == 0) {
                if (progress.pending === true) {
                    progressBarMessageElement.textContent = this.messages.waiting;
                } else {
                    progressBarMessageElement.textContent = this.messages.started;
                }
            } else {
                progressBarMessageElement.textContent =
                    `Обработано ${progress.current} из ${progress.total} (${progress.percent}%) ${description}`;
            }
        }
        function onSuccessMy(progressBarElement, progressBarMessageElement, result) {
            result = this.getMessageDetails(result);
            if (progressBarElement) {
                progressBarElement.style.backgroundColor = this.barColors.success;
            }
            if (progressBarMessageElement) {
                progressBarMessageElement.textContent = "Выполнено успешно " + result;
            }
            setTimeout(function() {
            let progressNextStepForm = document.querySelector("#id_price_mixin_id");
            if (progressNextStepForm) {
                document.querySelector(".progress__form").submit();
            } else {
                window.open("{{ next_step_url|safe }}","_self")
            };
            }, 2000);
        }
        document.addEventListener("DOMContentLoaded", function () {
            var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
            var bar = CeleryProgressBar.initProgressBar(progressUrl, {
                onProgress: onProgressMy,
                onSuccess: onSuccessMy,
                barColors: {
                    success:	"#76ce60",
                    error:	"#e6324c",
                    progress:	"#a74c00",
                    ignored:	"#7a7a7a",
                },
                pollInterval: 2000,
            });
            // Переопределение pollInterval вручную
            if (bar && bar.options) {
                bar.options.pollInterval = 5000; // в миллисекундах
            }
        });

    </script> 
{% endblock script %}