{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Облачное хранилище{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'css/start.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/page.css' %}" rel="stylesheet">
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
    <link href="{% static 'css/breadcrumbs.css' %}" rel="stylesheet">
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    {% block nav %}
        <nav class="navbar">
            <div class="navbar__container container">
                <div class="navbar__logo">
                    <a href="{% url 'core:knowledgebase_list' %}">
                        <img src="{% static 'img/logo/kb_2.svg' %}" alt="Логотип проекта kb AI">
                    </a>
                </div>

                <input type="checkbox" id="navbar-toggle" class="navbar__toggle-input" />
                <label for="navbar-toggle" class="navbar__burger">
                <span class="navbar__burger-line"></span>
                <span class="navbar__burger-line"></span>
                <span class="navbar__burger-line"></span>
                </label>

                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="{% url 'embeddings:engine_list' %}" class="navbar__link">
                            <svg class="navbar__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#engine"></use>
                            </svg>
                            Engine
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'core:knowledgebase_list' %}" class="navbar__link">
                            <svg class="navbar__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#root"></use>
                            </svg>
                            Базы знаний
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/docs/" class="navbar__link" target="_blank">
                            <svg class="navbar__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#api"></use>
                            </svg>
                            API Swagger
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/redoc/" class="navbar__link" target="_blank">
                            <svg class="navbar__icon">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#api"></use>
                            </svg>
                            API ReDoc
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock nav %}
    
    
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
        {% endif %}

        {% block breadcrumbs %}
        {% endblock breadcrumbs %}

        {% block content %}
        {% endblock %}
    </div>

    {% block script %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggle = document.querySelector('#navbar-toggle');
            const menu = document.querySelector('navbar__menu');
            toggle.addEventListener('click', () => {
            menu.classList.toggle('open');
            });
        });
    </script>
</body>
</html>