{% load static %}
<nav class="navbar">
    <div class="navbar__container container">
        <div class="navbar__logo">
            <a href="{% url 'core:knowledgebase_list' %}">
                <img src="{% static 'img/logo/kb_2.svg' %}" alt="Логотип проекта kb AI">
            </a>
        </div>

        <input type="checkbox" id="navbar-toggle" class="navbar__toggle-input" />
        <label for="navbar-toggle" class="navbar__burger">
        <span class="navbar__burger-line"></span>
        <span class="navbar__burger-line"></span>
        <span class="navbar__burger-line"></span>
        </label>

            {% if user.is_authenticated %}
                <span class="navbar__user">Пользователь: {{ request.user.get_full_name|default:request.user.username }} ({{ client_ip }} {{ user_agent }})</span>
            {% else %}
                <span class="navbar__user">Пользователь: {{ client_ip }} {{ user_agent }}</span>
            {% endif %}

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="{% url 'embeddings:engine_list' %}" class="navbar__link">
                    <svg class="navbar__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#engine"></use>
                    </svg>
                    Engine
                </a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'core:knowledgebase_list' %}" class="navbar__link">
                    <svg class="navbar__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#root"></use>
                    </svg>
                    Базы знаний
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ kb.get_absolute_url }}#cloud" class="navbar__link">
                    <svg class="navbar__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#cloud"></use>
                    </svg>
                    Облачные хранилища
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ kb.get_absolute_url }}#local" class="navbar__link">
                    <svg class="navbar__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#storage"></use>
                    </svg>
                    Локальные хранилища
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ kb.get_absolute_url }}#website" class="navbar__link">
                    <svg class="navbar__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#website"></use>
                    </svg>
                    Веб-сайт
                </a>
            </li>
            <li class="navbar__item">
                <a href="{{ kb.get_absolute_url }}#urlbatch" class="navbar__link">
                    <svg class="navbar__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#batch"></use>
                    </svg>
                    Веб-коллекция
                </a>
            </li>
            <li>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
                <a href="http://{{ request.get_host }}:8001/redoc" class="navbar__link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <svg class="navbar__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#logout"></use>
                    </svg>
                    Выйти
                </a>
            </li>
        </ul>
    </div>
</nav>